
{% extends "base.html" %}
{% block pageContent%}
<body>
<table>
    <tr>
        <td> Title </td>
        <td> Price </td>
        {% if session['userID'] %}
        <td> 
            Owned? 
        </td> 
        {% endif %}
    </tr>
{% for game in games %}
<tr>
    <td><a href = 'games/{{game[0]}}'> {{game[1]}} </a></td>
    <td> {{game[2]}} </td>
    {% if session ['userID'] %}
    <td> 
        {% if game[0] in libraryIDs %}
            <i> Yes </i> 
        {% else %}
            <i> No </i> 
        {% endif %}

    </td>
    {% endif %}
</tr>
{% endfor %}
<table>
</body>
{% endblock %}
