{% extends "base.html" %}
{% block pageContent%}
<body>
<h1>{{game[1]}}</h1>

{% if session['userID'] %}
    {% if game[0] not in libraryIDs %}
    <form method='post'>
        <input type="hidden" name="subType" value="purchaseRequest">
        <input type ="submit", value="Purchase this game for ${{game[2]}}">
    </form>
    {% else %}
    <i> You own this game </i>
    {% endif %}
{% endif %}

<h1> Interested in similar games? </h1>
<p> The games below share a tag with {{game[1]}}. You may like them! </p>
<table>
{% for related in relatedGames %}
<tr>
    <td>
        <a href="/games/{{related[2]}}">{{related[4]}}</a>
    </td>
</tr>
{% endfor %}
</table>

<hr>




</body>
{% endblock %}
