{% extends "base.html" %}
{% block pageContent%}
<body>
    <h1> {{userInfo[1]}} </h1>
    {% if session['userID'] == userInfo[0]%}
    <form method='post'>

        <input type="hidden" name="subType" value="balanceChange">

        <label for="balanceChange"> Add funds to your account </label>
        <input type ="text" id="balanceChange" name="balanceChange"></br>
        <input type ="submit" value="Add Funds">
    </form>

    {% elif session['userID'] and session['userID'] != userInfo[0] %}
    
        {% if (userInfo[0] in friendIDs) %}
            <form method = 'post'> 
                <input type="hidden" name="subType" value="removeFriend">
                <input type="hidden" name="viewerID" value={{session['userID']}}>
                <input type="hidden" name="friendID" value={{userInfo[0]}}>
                <input type="submit" value="Remove Friend">
            </form>
        {% else %}
            <form method = 'post'> 
                <input type="hidden" name="subType" value="addFriend">
                <input type="hidden" name="viewerID" value={{session['userID']}}>
                <input type="hidden" name="friendID" value={{userInfo[0]}}>
                <input type="submit" value="Add Friend">
            </form>
        {%endif %}


    {% endif %}
<hr>
<h1>User Library</h1>
<div>
    <table>
        <tr>
            <td> Title </td>
        </tr>
        {% for game in library %}
        <tr><td><a href='/games/{{game[1]}}'>{{game[4]}}</a></td></tr>
        {% endfor %}
    </table>
</div>

<hr>
<h1>Friend List</h1>
<div>
    <table> 
        <tr> 
            <td> Username </td>
        </tr>
    {% for friend in friends %}
    <tr><td> <a href='{{friend[2]}}'>{{friend[4]}}</a> </tr></td>
    {% endfor %}
    </table>

</div>

</body>
{% endblock %}
